* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----------HEADER---------  */
header {
    width: 100%;
    height: 160px;
}



/* TOP-WRAPPER  */
.top-wrapper {
    height: 80px;
    width: 100%;

    border-bottom: 1px solid black;

    background-color: rgb(245, 249, 253);
}


/* TOP-NAV  */
.top-nav {
    width: 80%;
    height: 100%;
}


/* TOP-NAV > LEFT-SIDE  */
.top-nav >.left-side {
    height: 100%;
    width: 20%;

    float: left;
}

.top-nav > .left-side > * {
    width: 50%;
    height: 100%;

    float: left;
}

.language-bar > div {
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contacts-bar > div {
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* TOP-NAV > RIGHT-SIDE  */
.top-nav >.right-side {
    height: 100%;
    width: 25%;

    float: right;
}

.top-nav > .right-side > * {
    height: 100%;

    float: right;
}

.finder-bar {
    width: 20%;
}

.login-bar {
    width: 30%;
}

.register-bar {
    width: 50%;
}

.register-bar > a {
    display: inline-block;
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    background-color: rgb(237, 127, 98);
    color: white;

    text-decoration: none;

    padding: 10px;
    border-radius: 5px;
}

.login-bar > a {
    display: inline-block;
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    background-color: white;
    color: rgb(237, 127, 98);

    text-decoration: none;
    text-align: center;

    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(237, 127, 98)
}

.finder-bar > a {
    display: inline-block;
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    text-decoration: none;
}


/* BOTTOM-WRAPPER  */
.bottom-wrapper {
    height: 80px;
    width: 100%;

    background-color: white(245, 249, 253);
}


/* BOTTOM-NAV  */
.bottom-nav {
    width: 80%;
    height: 100%;
}


/* BOTTOM-NAV > LEFT-SIDE */
.bottom-nav >.left-side {
    height: 100%;
    width: 10%;

    float: left;
}

.logo > img{
    width: 80%;

    position: relative;
    transform: translate(25% , 90%);
}


/* BOTTOM-NAV > RIGHT-SIDE  */
.bottom-nav >.right-side {
    height: 100%;
    width: 40%;

    float: right;
}

.bottom-nav >.right-side > ul {
    width: 100%;
    height: 100%;

    list-style: none;

    float: right;
}

.bottom-nav li {
    width: 20%;
    height: 100%;

    float: right;
}

.bottom-nav a {
    display: inline-block;  

    text-decoration: none;
    color: black;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30% , -50%);
}



/* ------------MAIN---------  */
main {
    width: 100%;
}



/* jumbotron  */
.jumbotron {
    width: 100%;
    height: 72.8vh;

    background-image: url("img/jumbotron.png");
    background-size: cover;
}


/* jumbotron > wrapper  */
.jumbotron > .wrapper {
    width: 80%;
    height: 100%;
}


/* text-container  */
.jumbotron .text-container {
    width: 50%;
    height: 100%;

    padding-top: 50px;
}

.jumbotron .text-container > * {
    margin-bottom: 30px;
}

.jumbotron .text-container h1 {
    font-size: 50px;
}


/* JUMBOTRON-DIVISOR  */
.jumbotron-divisor {
    width: 100%;
    height: 80px;

    border-top: 3px solid black;
    border-bottom: 3px solid black;

    background-color: rgb(189, 233, 228);
}


/* FEATURE  */
.feature {
    width: 100%;

    background-color: rgb(245, 249, 253);
}

.feature .rubik-wrapper {
    width: 80%;
    height: 45vh;
}
/* rubik  */
.rubik-container {
    width: 100%;
    height: 100%;
}

.rubik-container > * {
    padding: 10px;
}

.rubik-img {
    width: 20%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.rubik-container > div h2 {
    font-size: xx-large;

    text-align: center;
}

.rubik-container  p {
    text-align: center;
}

/* crm  */
.crm-wrapper {
    width: 80%;
    height: 40vh;

    background-color: white;
}

.crm-wrapper > * {
    height: 100%;

    float: left;
}

.crm-wrapper .left-side{
    width: 30%;
    height: 100%;
    
}

.img-container {
    text-align: center;
}

.button-container {
    text-align: center;
}

.img-container img {
    width: 50%;
}

.left-side .container {
    position: relative;
    top: 50%;
    transform:translateY(-50%) ;
}

.crm-wrapper .right-side {
    width: 70%;
    height: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.crm-wrapper .right-side > * {
    padding: 10px 0;
}

.crm-wrapper li {
    display: inline-block;
}

.crm-wrapper span {
    color:white;
    background-color: rgb(237, 127, 98);

    height: 2px;
    width: 2px;

    border-radius: 50%;
    padding: 0 5px;
    margin:0 5px;
}




/* CARDS  */
.cards {
    width: 100%;
    height: 80vh;

    background-color: rgb(245, 249, 253);

    padding-top: 20px;
    margin-bottom: 40px;
}

.cards-wrapper {
    width: 80%;
    height: 100%;
}

.cards-wrapper > * {
    width: 30%;
    height: 100%;

    float: left;
}

.central.card {
    margin: 0% 5%;
}

.card {
    background-color: white;

    border-radius: 5px;
}

.card > * {
    text-align: center;

    padding-bottom: 40px;
}

.card h4 , h3 {
    font-size: x-large;
}

.card ul {
    list-style: none;
    
    text-align: left;
    margin-left: 15%;
}

.cards span {
    color:white;
    background-color: rgb(237, 127, 98);

    height: 2px;
    width: 2px;

    border-radius: 50%;
    padding: 0 5px;
    margin:0 5px;
}



/* TABLE  */
.table-wrapper {
    width: 100%;
    height: 60vh;

    background-color: rgb(83, 182, 169);
}

.table-container {
    width: 80%;
    height: 100%;

    padding-top: 30px;
}

.table-h2 , .table-p , .table{
    text-align: center;
    color: white;

    padding-bottom: 40px;
}

.table ul {
    list-style: none;

    height: 230px;

    border-right: -1px solid black;
}

.table li {
    width: 25%;
    height: 50%;

    float: left;

    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.table li > * {
    padding-bottom: 10px;

}


/* LAST-HERO  */
.last-hero {
    width: 100%;
    height: 60vh;

    background-color: white;

    padding-top: 30px;

}

.last-hero-container {
    width: 80%;
    height: 100%;
}

.column {
    width: 50%;
    height: 100%;

    float: left;
}

.column.left > * {

    margin-bottom: 30px;
}

.text-align-center {
    position: relative;
    transform: translateX(20%);
}

.right.column .logos {
    width: 90%;
    height: 30%;

    list-style: none;
}

.right.column .logos > * {
    width: 25%;
    height: 50%;

    float: left;
}

.right.column .logos > * > * {
    width: 100%;
}

.happy-girl {
    text-align: right;
}

.happy-girl > img {
    width: 50%;
}





/* -------FOOTER-------  */
footer {
    width: 100%;
    height: 60vh;

    background-color: rgb(55, 72, 89);
    color: white;
}

footer .wrapper {
    width: 80%;
    height: 100%;
}

.top-footer {
    width: 100%;
    height: 60%;
}

.top-footer > * {
    float: left;

    margin-top: 20px;

    width: 25%;
}

footer h4 {
    font-size: large;
}

footer ul {
    list-style: none;


}

footer li {
    padding-top: 10px;

    text-decoration: none;
}

footer a {
    color: white;
}

.small-button {
    text-decoration: none;

    color: black;
    background-color: lightgray;

    display: inline-block;

    padding:5px 5px;
    border-radius: 5px;
}

.social-logos img {
    width: 50%;
    height: 100%;
}

.social-logos div {
    width: 100%;
    height: 100%;


}

.bottom-footer {
    width: 100%;
    height: 40%;
}

.languages {
    text-align: center;

    margin-bottom: 10px;
}

.languages li {
    display: inline-block;
}

footer .divisor {
    width: 100%;

    border-bottom: 1px solid white;
}



































































/* utility class  */

.border {
    border: 1px solid black;
}

.bg-red {
    background-color: red;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.margin {
    margin: auto;
}

.button {
    text-decoration: none;

    color: white;
    background-color: rgb(237, 127, 98);

    display: inline-block;

    padding: 25px 50px;
    border-radius: 5px;
}